
  .circle {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }

  .line {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circleLine {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid white;
    border-radius: 50%;
  }

  .circleBig {
    height: 80px;
    width: 80px;
    
  }

  .circleSmall {
    height: 20px;
    width: 20px;
  }

  .twoQuarterBig {
    width: 60px;
    height: 65px;
    border: 4px solid white;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-radius: 50%;
    animation: spin 3s infinite;
    
  }

  .twoQuarterSmall {
    width: 40px;
    height: 40px;
    border: 4px solid white;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-radius: 50%;
    animation: spin 6s infinite;
    
  }

  .lineSmallLeft {
    width: 40px;
    height: 0px;
    margin-left: 100px;
    border-bottom: 4px solid white;
    position: absolute;
    
    
  }

  .lineSmallRight{
    width: 40px;
    height: 0px;
    margin-right: 100px;
    border-bottom: 4px solid white;
    position: absolute;
  }

  .lineBigUp {
    width: 4px;
    height: 210px;
    margin-top: 120px;
    border-top: 50px solid white;
    position: absolute;
  }

  .lineBigDown {
    width: 4px;
    height: 210px;
    margin-bottom: 120px;
    border-bottom: 50px solid white;
    position: absolute;
  }

  
  @keyframes spin { 
    100% { 
      transform: rotateZ(360deg); 
    }
  }